
<% subtotal = 0 %>
<% @basket_items.each do |item| %>
  <% subtotal += (@materials.find(item.material_id).price * item.quantity) %>
<% end %>



<div class="container">
<div class="w-75 m-auto">
      <h2 class= mt-3> Order Summary</h2>
  <div class="border p-3 mt-3 position-relative w-80 m-auto">
    <div class="m-3">
      <h3> Delivery Address: </h3>
      <div class="w-50">
        <%= simple_form_for @order_number.first do |f| %>
          <%= f.input :site_location, label: "Site Location", placeholder: "Enter Address" %>
          <%= f.submit 'Add Address', class: "orange-button" %>
        <% end %>
      </div>
      <hr class="my-3">

      <%# TODO: add delivery fee algorithm? %>
      <p>Delivery and Handling Fee: £ 17.50</p>
      <% tax_amount = subtotal/20.to_f %>
      <% total = subtotal + tax_amount %>
      <p>Tax = £ <%= sprintf("%.2f", tax_amount) %> </p>
      <h4>Total:  £<%= sprintf("%.2f", total) %></h4>
      <%# <p class="w-50">Notice: one or more of your items is more than 3 metres so a surcharge of £9.99 has been added to the delivery fee</p> %>
    </div>
    <%= link_to "PAY NOW", order_path(@order_number.ids), "class" => "orange-button position-absolute bottom-0 end-0 m-3" %>
  </div>
</div>
<h1 class= my-3>Items In Your Basket</h1>
<div class="w-50 m-auto">
<div id="index-grid">
    <% @basket_items.each do |item| %>
    <div class="container card-border">
        <div class="container d-flex gap-30 mt-5 pb-5 border-bottom">
            <%= image_tag "#{item.material.image}", class: "img-test" %>

          <div class="name-des">
            <h5><%= @materials.find(item.material_id).name %></h5>
            <p><%= @materials.find(item.material_id).description %></p>
          </div>
        </div>
        <div class="d-flex space-between">
          <div>
<<<<<<< HEAD
          <%# <p class="mt-2">Input for quantity</p> %>
=======
          <p class="mt-2">Quantity: <%= item.quantity %></p>
>>>>>>> master
          <p>Vehicle image and type</p>
          </div>
          <div>
            <p class="mt-2">£<%=@materials.find(item.material_id).price %></p>
            <%= link_to "View details", material_path(item.material_id) %>
          </div>
        </div>

      </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
