<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="ms-5 mt-2 text-center">
        <%= image_tag ("Vector.png"), class: "logo-width" %>
        <h5 class="logo-color fw-bold mt-1 fs-4">MATERIALISED</h5>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
    <%= link_to "Products", materials_path, class: "d-inline me-5 nav-link navbar-links-color fw-bold fs-5" %>
    <%= link_to "Categories", "#", class: "d-inline me-5 nav-link navbar-links-color fw-bold fs-5" %>
    <%= link_to "About us", "#", class: "d-inline nav-link navbar-links-color fw-bold fs-5" %>
    </div>

    <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active me-5">
            <i class="fa-solid fa-cart-shopping navbar-links-color"></i><%= link_to "Checkout", "#", class: "nav-link d-inline navbar-links-color fw-bold fs-5" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link d-inline navbar-links-color fw-bold fs-5" %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
