<div class="modal-card m-auto">
<%# <%= @order.user.name ,%>
<h1 class> here is your order:</h1>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="avatar-container">
  <div class="image-text-container">
    <%= image_tag "sample.jpg", class: "avatar-large" %>
    <div class="small-box-avatar">
    <p><%= @order.driver.rating %></p>
    <p><%= @order.driver.name%></p>
    </div>
  </div>
  <div class="image-text-container">
    <%= image_tag "sample.jpg", class: "avatar-large" %>
    <div class="small-box-avatar">
    <p><%= @order.driver.plate_number %> </p>
    <p><%= @order.driver.vehicle_type %></p>
    </div>
  </div>
</div>

<h3>Pick a driver:</h3>

<%= form_with model: @order do |form| %>
  <div class="m-3">
  <%= form.collection_radio_buttons :driver_id, Driver.order(:name), :id, :name %>
  </div>
  <%= form.submit "add driver" %>
<% end %>
<%= link_to "Pay now", orders_path %>
</div>
