<div>
  <div class="flex-container-two margin-container-one-show">
    <div class="first-div-show">
      <h2><%= @material.name.capitalize %></h2>
    </div>

    <div class="second-div-show flex-container-one">
      <div class="image-show-div">
        <%= image_tag @material.image, class: "material-image" %>
      </div>

      <div class="details-div">
        <div class="details-again-div">

          <p><%= @material.description %>
          </p>
        </div>

        <div class="price-button-div">

          <div>
          <h2><%= humanized_money_with_symbol(@material.price) %></h2>
          </div>

          <div>
            <%= simple_form_for @basket do |f| %>
              <%= hidden_field_tag :material, @material.id %>
              <%= f.input :quantity, input_html: { type: 'number' } %>
              <button type="submit" class="cart-button" onclick="alert('Added to Basket')">Add To Basket <i class="fa-solid fa-basket-shopping"></i></button>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <div class="third-div-show">
      <div>
        <h2>Supplier: Miers Construction Products </h2>
        <h2><i class="fa-solid fa-truck"></i>: Dump Truck </h2>
      </div>
    </div>

  </div>

  <div class="margin-container-two-show">

  </div>
</div>
